{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Sign-in" %}{% endblock %}
{% block content %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}

{% if form.errors %}
<p>{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</p>
{% endif %}

<form method="post" action="{% url 'auth_login' %}" role="form" class="auth">
    {% include "registration/fields.html" %}
    <p><button type="submit" class="btn btn-primary">{% trans "Sign-in" %}</button>
        <input type="hidden" name="next" value="{{ next }}">
    <p><a href="{{ auth_pwd_reset_url }}">{% trans "Forgot your password?" %}</a><br>
        <a href="{{ register_url }}">{% trans "Need an account?" %}</a></p>
</form>

{% endblock %}
