{% load i18n %}
<ul class="list-group">
    <li class="list-group-item"><a class="btn btn-lg" href="{% url 'certify' %}">
        <span class="glyphicon glyphicon glyphicon-certificate"></span>
        {% trans "Certify your website" %}</a>
    <li class="list-group-item"><a class="btn btn-lg" href="/webdons.html">
        <span class="glyphicon glyphicon-heart"></span>
        {% trans "Contribute" %}</a>
    <li class="list-group-item"><a class="btn btn-lg" href="/HONcode/Plugin/Plugins.html">
        <span class="glyphicon glyphicon-download-alt"></span>
        {% trans "Download toolbar" %}</a>
</ul>